@import './../../root.scss';

:host {
    
  /* === SECTION === */
  section {
    background-color: var(--colorA);
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;

    .title {
      h1,
      h2 {
        color: var(--colorB);
      }
    }
  }

  .two_col {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .col {
      &.left {
        align-items: flex-start;
        flex-direction: column;
        width: 40%;
        height: 80%;
      }
      &.right {
        align-items: flex-end;
        flex-direction: column;
        position: relative;
        justify-content: flex-end;
        width: 60%;
        bottom: -4em;
      }
    }
  }

  /* === SPECIAL === */
  .sealA {
    svg {
      > g:nth-child(1),
      > g:nth-child(2) {
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transform-origin: center;
      }
      > g:nth-child(1) path {
        fill: var(--colorF);
      }
      > g:nth-child(2) path {
        fill: var(--colorB);
      }
      > g:nth-child(3) path {
        fill: var(--colorB);
      }
    }
  }

  .sealB {
    svg {
      > g:nth-child(1) path {
        fill: var(--colorE);
      }
      > g:nth-child(2) path,
      > g:nth-child(3) path {
        fill: var(--colorB);
      }
    }
  }

  /* === UGLY COLORS === */
  body.ugly & {
    section {
      background-color: var(--colorAu);

      .title {
        h1,
        h2 {
          color: var(--colorBu);
        }
      }
    }

    .sealA svg {
      > g:nth-child(1) path {
        fill: var(--colorFu);
      }
      > g:nth-child(2) path,
      > g:nth-child(3) path {
        fill: var(--colorBu);
      }
    }

    .sealB svg {
      > g:nth-child(1) path {
        fill: var(--colorFu);
      }
      > g:nth-child(2) path,
      > g:nth-child(3) path {
        fill: var(--colorBu);
      }
    }
  }

  /* === ANIMATION === */
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  /* === RESPONSIVE === */
  @media screen and (max-width: 800px) {
    .two_col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .col {
        &.left {
          justify-content: center;
          height: 50%;
          width: 100%;
          padding-top: 3em;
        }
        &.right {
          width: 100%;
          height: 60%;
        }
      }

      .col.left {
        height: 40%;
      }

      .col.right img {
        width: 200% !important;
        margin-left: -50% !important;
        height: 100% !important;
        object-fit: contain !important;
        object-position: center !important;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .two_col .col.right > div {
      height: 100% !important;
      width: calc(100% + 4em) !important;
      left: 2em;
      position: relative;
    }
  }

  @media screen and (max-height: 800px) and (max-width: 800px) {
    .two_col {
      .col {
        &.left {
            height: 50%;
            position: absolute;
            top: -2em;
        }
        &.right {
          position: absolute;
          width: 50% !important;
          right: 0;
          bottom: -4em;
          z-index: 0;
        }
      }
    }
}

  @media screen and (max-height: 800px) and (min-width: 801px) {
    .two_col {
      .col {
        &.left {
          z-index: 1;
        }
        &.right {
          position: absolute;
          width: 50% !important;
          right: 0;
          bottom: -4em;
          z-index: 0;
        }
      }
    }
  }

}