@import './../../root.scss';

:host {
  display: flex;
  justify-content: flex-end;

  section {
    background-color: var(--colorE);
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    justify-content: center;
    display: flex;
    justify-content: flex-end;
    /* height: calc(100vh - 10vw); */

    .two_col {
      justify-content: space-between;

      .col {
        &.left {
          position: relative;
          display: block;
          align-items: center;
          flex-direction: column;
          width: 50%;
          height: 100%;
          bottom: -5vw;
        }
        &.right {
          position: relative;
          display: flex;
          justify-content: center;
          flex-direction: column;
        }
      }
    }
  }

  .boxA {
    top: 0;
    position: absolute;
    width: calc(100% - 10vw);
    margin-top: 10vw;
  }

  .boxB {
    padding: 2.5vw;
    width: calc(125% - 2em);
    margin-left: clamp(0px, 50vh, 100% - 5vw - 8em);
    top: -75%;
    position: relative;
    z-index: 5;
    color: var(--colorB);
    background-color: var(--colorD);
  }

  .photo {
    img {
      height: calc(100% + 10vh);
      width: 120%;
      object-fit: contain;
      object-position: center left;
    }
  }

  .title {
    position: relative;
    margin-bottom: 2em;
  }

  .emoji {
    -webkit-animation-name: bounce;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    transform-origin: center;
    image-rendering: optimizeQuality;

    img {
      width: 1.5em;
      height: 1.5em;
    }
  }

  /* === UGLY COLORS === */
  body.ugly & {
    section {
      background-color: var(--colorBu);
    }
    .boxB {
      color: var(--colorBu);
      background-color: var(--colorDu);
    }
  }

  /* === ANIMATION === */
  @-webkit-keyframes bounce {
    from {
      -webkit-transform: translate(0, 0em);
    }
    50% {
      -webkit-transform: translate(0, -0.5rem);
    }
    to {
      -webkit-transform: translate(0, 0);
    }
  }

  /* === RESPONSIVE === */
  @media screen and (max-width: 800px) {
    .photo img {
      object-position: top left;
    }
    .boxA {
      width: 100%;
      position: relative;
      margin-top: 0;
    }
    .boxB {
      padding: 1em;
      left: 75%;
      margin-left: 0;
      margin-top: -10em;
    }
    section {
      height: auto;
      /* min-height: calc(100vh - 5vw - 4em); */
    }
  }

  @media screen and (max-width: 480px) {

    section .two_col {
      flex-direction: column;
    }
    section .two_col .col.left,
    section .two_col .col.right {
      width: 100% !important;
      bottom: auto;
    }
    section .photo img {
      width: 100% !important;
    }
    section .two_col .col.right > div {
      height: 100% !important;
      width: calc(100% + 4em) !important;
      left: 2em;
      position: relative;
    }
    section .boxB {
      width: calc(100% - 2em);
      margin-left: 0;
      left: 0;
      top: 0%;
    }
  }
}