@import './../../root.scss';

:host {
  display: flex;
  justify-content: flex-end;

  section {
    display: flex;
    background-color: var(--colorD);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .two_col {
      justify-content: space-between;
      height: auto;
      margin-bottom: 5vw;
      align-items: flex-end;

      &.rowA {
        .col.left {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
      }
      &.rowB {
        .col.left {
          align-items: flex-end;
        }
        .col.right {
          display: flex;
          align-items: flex-start;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: center;
          justify-content: flex-end;
        }
      }
      .col {
        // for responsive
        width: 100%;
      }
    }
  }

  .skill {
    color: var(--colorB);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 50%;
    width: 15%;
    margin: 0 5% 2.5% 5%;
    margin-right: 0;
    font-weight: 100;
    font-size: small;
  }

  .skill_icon {
    width: 80%;
    max-width: 80%;
    min-height: 5em;
    height: 5vw;
    margin-bottom: 1em;
  }

  .boxA {
    width: 100%;
  }

  .boxB {
    color: var(--colorB);
    background-color: var(--colorA);
    padding: 2vw;
    position: relative;
    border-radius: 0.25em;
  }

  .project_desc {
    color: var(--colorB);
    background-color: var(--colorD);
  }

  .sealB {
    svg {
      > g:nth-child(1) {
        -webkit-animation-name: rotate;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        transform-origin: center;

        path {
          fill: var(--colorA);
        }
      }
    }
  }

  /* === UGLY COLORS === */
  body.ugly & {
    section {
      background-color: var(--colorDu);
    }
    .boxB {
      color: var(--colorBu);
      background-color: var(--colorAu);
    }
    .skill {
      color: var(--colorBu);
    }
    .sealB svg > g:nth-child(1) path {
      fill: var(--colorFu);
    }
  }

  /* === ANIMATION === */
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  /* === RESPONSIVE === */
  @media screen and (max-width: 800px) {
    section {
      .two_col {
        flex-direction: column;

        .col {
          width: 100% !important;
        }
        &.rowB {
          .col.right {
            justify-content: center;
          }
        }
      }
    }
    .boxA {
      position: relative;
    }
    .skill {
      width: 20%;
      margin: 0 2.5% 2.5% 2.5%;
    }
  }
  @media screen and (max-width: 320px) {
    section {
      .skill {
        width: 25%;
        margin: 0 2.5% 2.5% 2.5%;
      }
    }
  }
}