/** === OLD COLORS === **/

$bgcoloru: #9eb0b4;

$colorAu: #679AAC;
$colorBu: #f8f7e5;
$colorCu: #000000;
$colorDu: #1D1D1D;
$colorEu: #F9AF42;
$colorFu: #ff834f;

/** === NEW COLORS === **/

$bgcolor: #031a1f;

$colorA: #571c2a;
$colorB: #f8f7e5;
$colorC: #640000;
$colorD: #00282a;
$colorE: #ff9d00;
$colorF: #bd3d00;

/*** LAYOUT === **/
    
$padding: 5vw;
$width: 1400px;

:root {

    --bgcoloru: #{$bgcoloru};

    --colorAu: #{$colorAu};
    --colorBu: #{$colorBu};
    --colorCu: #{$colorCu};
    --colorDu: #{$colorDu};
    --colorEu: #{$colorEu};
    --colorFu: #{$colorFu};

    --bgcolor: #{$bgcolor};

    --colorA: #{$colorA};
    --colorB: #{$colorB};
    --colorC: #{$colorC};
    --colorD: #{$colorD};
    --colorE: #{$colorE};
    --colorF: #{$colorF};

    --fontAu: 'Eczar', serif;
    --fontBu: serif;

    /*
    --fontA: "Kannada", sans-serif;
    --fontB: sans-serif;
    */

    --fontA: 'Radikal-UltraThin';
    --fontB: sans-serif;

    --width: #{$width};
    --padding: #{$padding};
}